@font-face {
    font-family: TitilliumWeb;
     src: url("assets/fonts/TitilliumWeb-Regular.ttf");
   }
   
   body {
    font-family: "TitilliumWeb"
   }

   * {
    box-sizing: border-box;
  }

   body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }